.panel {
    display: flex;
    align-items: center;
    padding-top: 52px;
    padding-bottom: 37px;
    border-bottom: 1px solid #E0DCDC;
}

.wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.title {
    color: #212121;
    font-family: Montserrat-SemiBold;
    font-size: 29px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.custom_input {
    width: 100%;
    max-width: 418px;
    position: relative;
    margin-right: 12px;
}
.custom_input:before {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    background: url("./search_icon.svg");
    right: 17px;
    top: 50%;
    transform: translateY(-50%);
}

.input_search {
    width: 100%;
    max-width: 418px;
    max-height: 50px;
    border-radius: 10px;
    border: 3px solid #EAEAEA;
    background: #FFF;
    padding: 15px 41px 15px 19px;
    color: #000;
    font-family: Montserrat-Medium;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.input_search::placeholder {
    color: #5C5C5C;
    font-family: Montserrat-Medium;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.btn_add_card {
    max-height: 42px;
    cursor: pointer;
    padding: 10px 22px 8px 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #476D1A;
    border: none;
    color: #FFF;
    text-align: center;
    font-family: Montserrat-Regular;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 22px;
}

.btn_add_card svg {
    margin-right: 8px;
}